Package: com.acheronfail.roundcorners
Name: RoundCorners
Depends: mobilesubstrate
Version: 0.1
Architecture: iphoneos-arm
Description: Rounds the four corners of the display
Maintainer: acheronfail <acheronfail@gmail.com>
Author: acheronfail <acheronfail@gmail.com>
Section: Tweaks
